<!--
current-events.component.html
Author: David Chocholatý
-->

<ng-container *ngIf="currentEvents.length > 0">
  <h1>Právě probíhající akce</h1>

  <div *ngFor="let e of currentEvents" class="pb-3 container">
    <div class="row">
      <div class="col pr-lg-1">
        <a class="border-bottom d-inline-block h5 text-decoration-none" [class.mr-2]="e.url != null"
           [routerLink]="['/events', e.id]">{{e.title}}</a>

        <a class="d-inline-block text-decoration-none" *ngIf="e.url != null && e.url.length > 0"
           href="{{e.url}}">web události <span><i style="vertical-align: 1px"
                                                  class="fas fa-external-link-alt font-small pl-1"></i></span></a>
        <br>

        <ng-container *ngIf="e.multipleDays; then oneDay else moreDays"></ng-container>
        <br>
        <ng-container *ngIf="e.place">
          místo konání:
          <ng-container *ngIf="!e.placeUrl || e.placeUrl.length == 0; else placeWithUrl">{{e.place}}</ng-container>
          <ng-template #placeWithUrl><a href="{{e.placeUrl}}">{{e.place}}</a></ng-template>
        </ng-container>

        <ng-container *ngIf="e.stateTypes != null && e.stateTypes.length > 0">
          v rámci akce bude otevřen také klub
          <ng-container *ngFor="let s of e.stateTypes; last as isLast; first as isFirst">
            <ng-container *ngIf="isFirst && isLast">({{s}})</ng-container>
            <ng-container *ngIf="isFirst && !isLast">({{s}},&nbsp;</ng-container>
            <ng-container *ngIf="!isFirst && isLast">{{s}})</ng-container>
            <ng-container *ngIf="!isFirst && !isLast">{{s}},&nbsp;</ng-container>
          </ng-container>
        </ng-container>

        <ng-template #oneDay>{{e.from | date:'d. M.'}} od {{e.from | date:'HH:mm'}}
          do {{e.to | date:'HH:mm'}}</ng-template>
        <ng-template #moreDays>
          {{e.from | date:'d. M.'}} až {{e.to | date:'d. M.'}}
        </ng-template>

        <div>
          {{e.shortDescription}}
        </div>
      </div>
      <div class="col-lg-5 col-sm-12 d-none d-sm-block pl-lg-1" *ngIf="e.imageUrl != null">
        <img src="{{getImageUrl(e.imageUrl)}}" class="img-fluid img-thumbnail" alt="{{e.title}}"/>
      </div>
    </div>

  </div>

</ng-container>

<h1>Následující akce</h1>

<app-month-selection (monthChange)="this.monthChanged($event)" [minMonth]="this.currentMonth"
                     [justifyCenter]="false"></app-month-selection>

<ng-container *ngIf="shownNextEvents.length > 0; else noNextEvents">
  <div class="row mb-2" *ngFor="let e of shownNextEvents">
    <div class="col pr-lg-1">
      <a class="border-bottom d-inline-block h5 text-decoration-none" [class.mr-2]="e.url != null"
         [routerLink]="['/events', e.id]">{{e.title}}</a>

      <a class="d-inline-block text-decoration-none" *ngIf="e.url != null"
         href="{{e.url}}">web události <span><i style="vertical-align: 1px"
                                                class="fas fa-external-link-alt font-small pl-1"></i></span></a>
      <br>

      <ng-container *ngIf="e.multipleDays; then oneDay else moreDays"></ng-container>
      <br>
      <ng-container *ngIf="e.place">
        místo konání:
        <ng-container *ngIf="!e.placeUrl || e.placeUrl.length == 0; else placeWithUrl">{{e.place}}</ng-container>
        <ng-template #placeWithUrl><a href="{{e.placeUrl}}">{{e.place}}</a></ng-template>
      </ng-container>

      <ng-container *ngIf="e.stateTypes != null && e.stateTypes.length > 0">
        v rámci akce bude otevřen také klub
        <ng-container *ngFor="let s of e.stateTypes; last as isLast; first as isFirst">
          <ng-container *ngIf="isFirst && isLast">({{s}})</ng-container>
          <ng-container *ngIf="isFirst && !isLast">({{s}},&nbsp;</ng-container>
          <ng-container *ngIf="!isFirst && isLast">{{s}})</ng-container>
          <ng-container *ngIf="!isFirst && !isLast">{{s}},&nbsp;</ng-container>
        </ng-container>
      </ng-container>

      <ng-template #oneDay>{{e.from | date:'d. M.'}} od {{e.from | date:'HH:mm'}}
        do {{e.to | date:'HH:mm'}}</ng-template>
      <ng-template #moreDays>
        {{e.from | date:'d. M.'}} až {{e.to | date:'d. M.'}}
      </ng-template>

      <div>
        {{e.shortDescription}}
      </div>
    </div>
    <div class="col-lg-5 col-sm-12 d-none d-sm-block pl-lg-1" *ngIf="e.imageUrl != null">
      <img src="{{getImageUrl(e.imageUrl)}}" class="img-fluid img-thumbnail" alt="{{e.title}}"/>
    </div>
  </div>
</ng-container>

<ng-template #noNextEvents>
  <h5 class="text-muted" *ngIf="loading">Načítání...</h5>
  <h5 class="text-muted" *ngIf="!loading">V tomto měsíci nejsou naplánované žádné akce.</h5>
</ng-template>
