<!--
events-overview.component.html
Author: František Nečas, Ondřej Ondryáš
-->

<div class="container">
  <div class="mb-2 row">
    <div class="col-3 p-0">
      <div class="d-none d-md-flex justify-content-start">
        <app-loading-spinner></app-loading-spinner>
      </div>
    </div>
    <div class="col-12 col-sm-6 text-center">
      <h2>Plán akcí a otevírání klubu</h2>
    </div>
    <div class="col-3 p-0">
      <div class="d-none d-md-flex justify-content-end">
        <div class="btn-group" role="group">
          <button type="button" class="btn {{calendarView ? 'btn-primary' : 'btn-outline-primary'}}"
                  (click)="setCalendarView(true)"><i class="far fa-calendar-alt"></i></button>
          <button type="button" class="btn {{calendarView ? 'btn-outline-primary' : 'btn-primary'}}"
                  (click)="setCalendarView(false)"><i class="fas fa-list"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-block d-md-none">
  <app-events-overview-text></app-events-overview-text>
</div>
<div class="d-none d-md-block">
  <ng-container *ngIf="calendarView">
    <app-events-overview-calendar></app-events-overview-calendar>
  </ng-container>
  <ng-container *ngIf="!calendarView">
    <app-events-overview-text></app-events-overview-text>
  </ng-container>
</div>


