<div class="card">
  <img src="{{boardGame.imageUrl ? getImageUrl(boardGame.imageUrl) : 'assets/image_not_found.jpg'}}" class="card-img-top rounded"
       alt="Fotka deskové hry"/>
  <div class="card-body d-flex flex-column">
    <h5 class="card-title"><a class="link-no-style stretched-link" routerLink="{{boardGame.id}}">{{boardGame.name}}</a></h5>
    <div class="card-subtitle">
      <h6 [ngStyle]="{'color': '#' + boardGame.category.colourHex}">{{boardGame.category.name}}</h6>
    </div>
    <div class="card-text" *ngIf="boardGame.playersMax || boardGame.playersMin">
      <p>{{boardGame.playersMin}}–{{boardGame.playersMax}} hráčů</p>
    </div>
    <app-reservation-button [available]="boardGame.available" [currentValue]="initialReserved"
                            [styles]="{'position': 'relative', 'z-index': 2}"
                            (countChanged)="onCountChanged($event)" class="mt-auto"></app-reservation-button>
  </div>
</div>
