<!--
home.component.html
Author: David Chocholatý
-->

<div class="jumbotron py-1">
    <h1 class="display-5 text-center">{{jumbotronStateMainText}}</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <p>Info o Kachne part 1</p> <!-- TODO: Create home page. -->
    </div>
    <div class="col-md-6">
        <p>Info o Kachne part 2</p> <!-- TODO: Create home page. -->
        <button type="button" class="btn btn-primary btn-block" *ngIf="authenticationService.isLoggedOut()">Stát se členem klubu</button>
    </div>
</div>
