<div class="jumbotron py-1">
  <h1 class="display-5 text-center">Můj profil</h1>
</div>

<div class="container">
  <form novalidate autocomplete="off" #form="ngForm" (submit)="onSaveChanges(form)">
    <!--<input type="hidden" name="id" [value]="userService.userDetail.id" /> --> <!-- FIXME: Is there any ID? -->

    <div class="form-group row">
      <label for="staticName" class="col-sm-2 col-form-label">Jméno</label>
      <div class="col-sm-10">
        <input #name="ngModel" [(ngModel)]="authenticationService.userDetail.name" class="form-control-plaintext" id="staticName" name="name" placeholder="Jméno"
               readonly type="text">
      </div>
    </div>

    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">E-mail</label>
      <div class="col-sm-10">
        <input #email="ngModel" [(ngModel)]="authenticationService.userDetail.email" class="form-control-plaintext" id="staticEmail" name="email" placeholder="E-mail"
               readonly type="text">
      </div>
    </div>

    <div class="form-group row">
      <label for="nickname" class="col-sm-3 col-form-label">Přezdívka</label>
      <div class="col-sm-9">
        <input #nickname="ngModel" [(ngModel)]="authenticationService.userDetail.nickname" [class.invalid]="nickname.invalid" class="form-control" id="nickname" name="nickname" placeholder="Přezdívka"
               type="text" maxlength="128" > <!--  FIXME: What is the max length? -->
      </div>
    </div>

    <div class="form-group row">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="gamificationCheckbox" name="gamification" #gamification="ngModel" [(ngModel)]="authenticationService.userDetail.gamification">
        <label class="custom-control-label" for="gamificationCheckbox">Souhlas s gamifikací</label>
        <!-- todo: add question mark with tooltip about gamification. -->
      </div>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-outline-secondary dropdown dropdown-toggle" (click)="collapse.toggle()" [attr.aria-expanded]="!isCardInfoCollapsed"
              aria-controls="collapseExample">
        Nastavení karty
      </button>
      <div class="dropdown-item" #collapse="ngbCollapse" [(ngbCollapse)]="isCardInfoCollapsed">

        <div class="form-group row">
          <label for="card" class="col-sm-3 col-form-label">Kód karty</label>
          <div class="col-sm-9">
            <input #card="ngModel" [(ngModel)]="authenticationService.userDetail.card" [class.invalid]="card.invalid" class="form-control" id="card" name="card" placeholder="Kód karty"
                   type="text" maxlength="128" > <!--  FIXME: What is the max length? -->
          </div>
          <!-- todo: add question mark with tooltip about gamification. -->
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">Uložit změny</button>
      </div>
    </div>
  </form>
</div>
