<!--
users-list.component.html
Author: David Chocholatý
-->

<h1>Správa uživatelů</h1>

<div class="d-flex flex-wrap justify-content-between">
  <div class="row">
    <div class="mr-4 mt-3">
    </div>
  </div>
  <div class="mt-3 ">
    <button type="button" class="btn mr-1 btn-secondary" routerLink="/user-profile">
      Zobrazit můj profil
    </button>
  </div>
</div>
<hr/>

<div class="container">
  <div class="row">
    <div class="col-sm-auto">
    </div>
  </div>

  <div class="row">
    <table class="table table-stripped">
      <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Jméno</th>
        <th>E-mail</th>
        <th>Operace</th>
      </tr>
      </thead>
      <tbody *ngIf="authenticationService.shownUsersList.length > 0">
      <tr *ngFor="let user of authenticationService.shownUsersList">
        <td (click)="openUserDetail(user)">
          {{user.id}}
        </td>
        <td (click)="openUserDetail(user)">
          {{user.name}}
        </td>
        <td (click)="openUserDetail(user)">
          {{user.email}}
        </td>
        <td>
          <button type="button" class="btn mr-1 btn-primary"
                  (click)="onModifyUserRoles(user)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                 viewBox="0 0 16 16">
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg>
            Upravit role uživatele
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="authenticationService.shownUsersList.length == 0" class="mb-5 d-flex justify-content-center">
      <h5 class="text-secondary ">Neexistují žádní uživatelé k zobrazení.</h5>
    </div>
  </div>
</div>
