<!--
reservation-details-item-normal.component.html
Author: František Nečas
-->
<td><button class="btn-link btn p-1" (click)="reservationItemClicked.emit(item)">{{item.boardGame.name}}</button></td>
<td>{{formattedStates.get(item.state)}}</td>
<td>{{formattedExpiration}}</td>
<td><a *ngIf="item.assignedTo && item.assignedTo.name" href="mailto:{{item.assignedTo.email}}">{{item.assignedTo?.name}}</a></td>
<td>
  <ng-container *ngIf="!managerView">
    <button type="button" class="btn btn-danger" *ngIf="item.state == itemState.New || item.state == itemState.Assigned"
            (click)="$event.stopPropagation(); cancelReservation()">
      Zrušit
    </button>
    <button type="button" class="btn btn-primary"
            *ngIf="item.state == itemState.HandedOver && item.lastEventType != eventType.ExtensionRequested"
            (click)="$event.stopPropagation(); requestExtension()">
      Požádat o prodloužení
    </button>
    <div *ngIf="item.lastEventType == eventType.ExtensionRequested">
      Žádost o prodloužení čeká na schválení
    </div>
  </ng-container>
  <ng-container *ngIf="managerView">
    <app-manager-button-cluster [item]="item" (handOver)="handOver()"
                                (cancel)="cancelReservation()" (extend)="extend()"
                                (refuseExtension)="refuseExtension()"
                                (returned)="return()"></app-manager-button-cluster>
  </ng-container>
</td>
