<h6 class="border-bottom pb-2 mb-2">
  Nejste přihlášen/a.
</h6>

<button class="btn btn-outline-success btn-block" (click)="clickLogInButton()">Přihlásit se</button>
<button class="btn btn-outline-dark btn-block" type="button"
        (click)="authenticationService.getSessionIdFromKisEduId('registration')">
  Zaregistrovat se<br>
  <span class="small">(Stát se členem klubu)</span>
</button>
<button class="btn btn-outline-dark btn-block" routerLink="/notifications">Nastavit push notifikace</button>
