<!--
logged-out-content.component.html
Author: David Chocholatý
-->

<div class="card">
  <div class="card-header">
    Nejste přihlášen/a.
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <button class="btn btn-secondary btn-block" (click)="clickLogInButton()">Přihlásit se</button>
    </li>
    <li class="list-group-item">
      <button class="btn btn-secondary btn-block" (click)="clickRegisterButton()">
        <ul style="list-style: none;" class="list-group list-group-flush">
          <li>Zaregistrovat se</li>
          <li class="text-muted">(Stát se členem klubu)</li>
        </ul>
      </button>
    </li>
  </ul>
</div>
