<!--
conflicting-states.component.html
Author: David Chocholatý
-->


<div class="jumbotron py-1">
  <h1 class="display-5 text-center">Přidat existující stav klubu</h1>
</div>

<div class="d-flex flex-wrap justify-content-between">
  <div class="row">
    <div class="mr-4 mt-3">
      <app-back-arrow targetRoute="../linked-states"></app-back-arrow>
    </div>
    <div class="mr-4 mt-3">
      <app-togglable-button [startingValue]="eventsService.unlinkedOnly !== undefined" [text]="'Pouze volné stavy klubu'"
                            (valueChanged)="onUnlinkedOnlyChange($event)"></app-togglable-button>
    </div>
  </div>
  <div class="mt-3 ">
    <button type="button" class="btn mr-1 btn-secondary" (click)="onPlanNewClubStateClicked()">
      Naplánovat nový stav klubu
    </button>
  </div>
</div>
<hr/>

<div class="container">
  <div class="row">
    <div class="col-sm-auto">
    </div>
  </div>

  <div class="row">
    <table class="table table-stripped">
      <thead class="thead-light">
      <tr>
        <th>Trvání od</th>
        <th>Trvání do</th>
        <th>Typ</th>
        <th>Operace</th>
      </tr>
      </thead>
      <tbody *ngIf="eventsService.shownConflictingStatesList.length > 0" >
      <tr *ngFor="let conflictingState of eventsService.shownConflictingStatesList">

        <td (click)="openClubStateDetail(conflictingState)">
          {{conflictingState.start.getDate()}}. {{conflictingState.start.getMonth()}}. {{conflictingState.start.getFullYear()}} {{conflictingState.start.getHours()}}:{{conflictingState.start.getMinutes()}}
        </td>
        <td (click)="openClubStateDetail(conflictingState)">
          {{conflictingState.plannedEnd.getDate()}}. {{conflictingState.plannedEnd.getMonth()}}. {{conflictingState.plannedEnd.getFullYear()}} {{conflictingState.plannedEnd.getHours()}}:{{conflictingState.plannedEnd.getMinutes()}}
        </td>
        <td (click)="openClubStateDetail(conflictingState)">{{conflictingState.state}}</td>
        <td>
          <button type="button" class="btn mr-1 btn-primary"
                  (click)="onLinkConflictingClubState(conflictingState)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg>
            Přidat
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="eventsService.shownConflictingStatesList.length == 0" class="mb-5 d-flex justify-content-center">
      <h5 class="text-secondary ">Neexistuje žádný naplánovaný stav klubu vhodný k přidání.</h5>
    </div>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-between" *ngIf="eventsService.shownConflictingStatesList.length > 0" >
  <div class="row">
    <div class="mr-4 ">
      <button type="button" class="btn mr-1 btn-primary" (click)="onLinkAllConflictingClubStates()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
        Přidat všechny stavy klubu
      </button>
  </div>
</div>
