/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}

.display-4 {
  font-weight: 400;
}

.form-group label {
  color: grey;
}

.form-group input {
  font-weight: 500;
}

.form-group input::placeholder {
  color: #c0bdbd;
  font-weight: 300;
}

/* For invalid form controls. */
input.invalid {
  border-color: red;
}

.link-no-style {
  color: inherit;
}

.clickable:hover {
  cursor: pointer;
  background-color: #fafafa;
}

table thead tr th {
  font-weight: 600;
}

.color-chillzone {
  color: #063f61;
}

.color-bar {
  color: #561303;
}

.dot {
  height: 15px;
  width: 15px;
  margin-right: 0.5em;
  border-radius: 50%;
  display: inline-block;
}
