/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

p, span, div {
  font-size: 11pt;
}

h1, h2, h3, h4, .navbar-brand {
  font-family: 'Exo', sans-serif !important;
  font-weight: 500;
}

h2 {
  font-size: 20pt;
}

h5 {
  font-size: 13pt;
  font-weight: 400 !important;
}

.btn {
  font-size: 11pt;
}

.headline {
  font-size: 34pt;
  font-weight: 500;
}

.form-group label {
  color: grey;
}

.form-group input {
  font-weight: 500;
}

.form-group input::placeholder {
  color: #c0bdbd;
  font-weight: 300;
}

/* For invalid form controls. */
input.invalid {
  border-color: red;
}

.link-no-style {
  color: inherit;
}

.clickable:hover {
  cursor: pointer;
  background-color: white;
  filter: brightness(90%);
}

table thead tr th {
  font-weight: 600;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.color-chillzone {
  color: #063f61;
}

.color-bar {
  color: #561303;
}

.color-tearoom {
  color: #196911;
}

.dot {
  height: 15px;
  width: 15px;
  margin-right: 0.5em;
  border-radius: 50%;
  display: inline-block;
}

.font-small {
  font-size: 80%;
}

.navbar-duck-dark {
  background-color: #2a2524 !important
}

.fc, .fc-event-title, .fc-event-time {
  font-size: 9pt !important;
}
