<!--
reservation-creation.component.html
Author: František Nečas
-->
<div class="d-flex">
  <app-back-arrow targetRoute=".."></app-back-arrow>
  <h2>Dokončit rezervaci</h2>
</div>
<table class="table">
  <tbody>
  <ng-container *ngFor="let item of currentReservation | keyvalue">
    <tr app-reservation-item *ngIf="games.has(item.key)" [boardGame]="games.get(item.key)!"
        (countUpdated)="updateReservation($event)"></tr>
  </ng-container>
  </tbody>
</table>
<form>
  <div class="form-group">
    <label for="userNote">Poznámka</label>
    <textarea class="form-control" id="userNote" rows="2" [formControl]="noteForm"></textarea>
  </div>
  <button type="button" class="btn btn-lg btn-success" *ngIf="currentReservation.size > 0" (click)="reserve()">Zarezervovat
  </button>
  <button type="button" class="btn btn-lg btn-success" *ngIf="currentReservation.size == 0" disabled>Zarezervovat</button>
</form>
