<!--
reservation-creation.component.html
Author: František Nečas
-->

<app-back-arrow targetRoute=".." heading="Dokončit rezervaci"></app-back-arrow>

<table class="table">
  <tbody>
  <ng-container *ngFor="let item of currentReservation | keyvalue">
    <tr app-reservation-item *ngIf="games.has(item.key)" [boardGame]="games.get(item.key)!"
        (countUpdated)="updateReservation($event)"></tr>
  </ng-container>
  </tbody>
</table>
<form>
  <div class="form-group" *ngIf="pageMode == mode.Normal">
    <label for="userNote">Poznámka</label>
    <textarea class="form-control" id="userNote" rows="2" [formControl]="noteForm" maxlength="1024"
              placeholder="Můžeš například zmínit, kdy si chceš hry vyzvednout"></textarea>
  </div>
  <app-user-search label="Pro uživatele" (userSelected)="userSelected($event)"
                   *ngIf="pageMode == mode.ManagerReservation"></app-user-search>
  <div class="form-group" *ngIf="pageMode == mode.ManagerReservation">
    <label for="internalNote">Interní poznámka</label>
    <textarea class="form-control" id="internalNote" rows="2" [formControl]="noteForm" maxlength="1024"
              placeholder="Tuto poznámku uvidí jen ostatní správci"></textarea>
  </div>
  <div class="d-flex flex-wrap">
    <button type="button" class="btn btn-lg btn-info mr-2 mb-1" (click)="reserve(true, false)"
            [disabled]="currentReservation.size == 0 || !forUser" *ngIf="pageMode == mode.ManagerReservation">
      Zarezervovat a vzít si na starost
    </button>
    <button type="button" class="btn btn-lg btn-success mr-2 mb-1" (click)="reserve(true, true)"
            [disabled]="currentReservation.size == 0 || (pageMode == mode.ManagerReservation && !forUser)"
            *ngIf="pageMode == mode.ManagerReservation || authService.isBoardGamesManager()">
      Zarezervovat a {{((forUser && forUser == loggedInUser) ||
        (pageMode == mode.Normal && authService.isBoardGamesManager())) ? "převzít" : "předat"}}
    </button>
    <button type="button" class="btn btn-lg" [ngClass]="{
    'btn-success': pageMode == mode.Normal && !authService.isBoardGamesManager(),
    'btn-outline-success': pageMode == mode.ManagerReservation || authService.isBoardGamesManager()}"
            [disabled]="currentReservation.size == 0 || (pageMode != mode.Normal && !forUser)"
            (click)="reserve()">
      Zarezervovat
    </button>
  </div>
</form>
