<!--
user-detail.component.html
Author: David Chocholatý, Ondřej Ondryáš
-->

<app-back-arrow targetRoute=".." heading="Detail uživatele {{userDetail.name}}"></app-back-arrow>

<div class="list-group">
  <div class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">E-mail</h5>
    </div>
    <div class="container row">
      <p>{{userDetail.email}}</p>
    </div>
  </div>
  <div class="list-group-item flex-fill" *ngIf="userDetail.activeRoles">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Role</h5>
    </div>
    <div class="container">
      <div class="row" *ngFor="let userRole of userDetail.activeRoles">
        {{userRole}}
      </div>
    </div>
  </div>
  <div *ngIf="authenticationService.isAdmin()" class="list-group-item justify-content-between">
    <ul class="list-group list-group-horizontal justify-content-between">
      <li class="list-group-item border-0">
        <button class="btn btn-secondary" (click)="onManageUserRolesClicked()">
          Spravovat role uživatele
        </button>
      </li>
    </ul>
  </div>
</div>
