<!--
reservations.component.html
Author: František Nečas
-->
<h1>Moje rezervace</h1>

<form>
  <div class="form-group form-inline">
    <label for="reservationState">Stav rezervace</label>
    <select class="form-control input ml-3 w-auto" id="reservationState" [formControl]="reservationFilterForm">
      <option>---</option>
      <option *ngFor="let option of filterKeys">{{option[0]}}</option>
    </select>
  </div>
</form>
<div class="table-responsive-xs">
  <table class="table">
    <thead>
    <tr>
      <th scope="col" class="col-4 col-md-2 col-lg-2 col-xl-2">Datum vytvoření</th>
      <th scope="col" class="d-none d-sm-table-cell col-md-4">Moje poznámka</th>
      <th scope="col">Přiřazený správce</th>
      <th scope="col" class="d-none d-sm-table-cell">Hry</th>
      <th scope="col" class="d-table-cell d-sm-none col-1">Počet her</th>
    </tr>
    </thead>
    <tbody>
    <tr app-reservation *ngFor="let reservation of reservations" [reservation]="reservation"
        [ngClass]="{'table-danger': isExpired(reservation)}"></tr>
    </tbody>
  </table>
</div>
