<!--
reservation-items.component.html
Author: František Nečas
-->

<!-- The table on mobile would look weird, list it -->
<div class="d-block d-sm-none">
  <hr/>
  <h4 class="mt-2">Rezervované hry</h4>
  <app-reservation-details-item-xs *ngFor="let item of items" [reservationId]="reservation.id"
                                   (stateChanged)="itemStateUpdated.emit($event)"
                                   (reservationItemClicked)="rowClicked($event)" [managerView]="managerView"
                                   [item]="item"></app-reservation-details-item-xs>
</div>

<div class="table-responsive d-none d-sm-block">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Hra</th>
      <th scope="col">Průběh rezervace</th>
      <th scope="col">Vypůjčeno do</th>
      <th scope="col">Kontaktní osoba</th>
      <th scope="col">Akce</th>
    </tr>
    </thead>
    <tbody>
    <tr app-reservation-details-item-normal *ngFor="let item of items" [item]="item" [reservationId]="reservation.id"
        (reservationItemClicked)="rowClicked($event)" [managerView]="managerView"
        (stateChanged)="itemStateUpdated.emit($event)" style="cursor: default;"
        [ngClass]="{
          'table-danger': item.state === itemState.Expired,
          'table-secondary': item.state == itemState.Cancelled || item.state == itemState.Done,
          'table-success': item.state == itemState.HandedOver,
          'table-info': item.state == itemState.Assigned,
          'table-warning': managerView && item.lastEventType == eventType.ExtensionRequested
          }"></tr>
    </tbody>
  </table>
</div>
