<div class="d-flex justify-content-between align-items-center">
  <app-back-arrow targetRoute=".." heading="Upravit kategorii {{category?.name}}"></app-back-arrow>
  <button type="button" class="btn btn-danger btn-lg align-self-start" (click)="deleteCategory()">Smazat</button>
</div>

<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="cat-name">Jméno</label>
    <input id="cat-name" type="text" class="form-control" minlength="1" maxlength="64" formControlName="name" required/>
  </div>
  <div class="form-group">
    <label for="cat-color">Barva</label>
    <input [colorPicker]="color" [style.background]="color" (colorPickerChange)="onColorChange($event)"
           formControlName="color" type="text" maxlength="7" minlength="7" class="form-control" id="cat-color"
           required/>
  </div>
  <button type="submit" [disabled]="!categoryForm.valid" class="btn btn-primary">Upravit kategorii</button>
</form>
