<!--
board-games-page.component.html
Author: František Nečas
-->
<div class="d-flex justify-content-between align-items-center flex-wrap">
  <h1>Deskové hry</h1>
  <button *ngIf="authenticationService.isLoggedIn() && mode == pageMode.Normal " type="button"
          class="btn btn-lg btn-primary d-none d-sm-block font-weight-bold" routerLink="reservations">Moje rezervace
  </button>
  <button *ngIf="mode == pageMode.AddingGames" type="button"
          class="btn btn-lg btn-danger font-weight-bold" (click)="resetMode()">
    Zrušit přidávání her
  </button>
  <button *ngIf="mode == pageMode.ManagerReservation" type="button"
          class="btn btn-lg btn-danger font-weight-bold" (click)="resetMode()">
    Zrušit tvorbu rezervace
  </button>
</div>

<input class="form-control mt-3" type="text" [ngModel]="searchModel" [ngbTypeahead]="search"
       (selectItem)="selectItem($event)" placeholder="Vyhledávání"/>
<div class="d-flex flex-wrap justify-content-between align-items-center">
  <div class="d-flex flex-wrap align-items-center">
    <div class="mr-4 mt-3">
      <button type="button" class="btn btn-secondary dropdown-toggle" id="playersDropdown"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Počet hráčů
      </button>
      <div class="dropdown-menu" aria-labelledby="playersDropdown" id="dropdownMenu">
        <div class="px-2">
          <app-number-selection placeholder="Počet hráčů" [initialValue]="players" [minimum]="1"
                                (valueChanged)="onPlayersChange($event)"></app-number-selection>
        </div>
      </div>
    </div>

    <div class="mr-4 mt-3">
      <app-category-selector (categoryAdded)="onCategoryAdded($event)"
                             (categoryRemoved)="onCategoryRemoved($event)"
                             [initiallyEnabled]="categoryIds"></app-category-selector>
    </div>
    <div class="mr-4 mt-3">
      <app-togglable-button [startingValue]="availableOnly !== undefined" [text]="'Pouze dostupné'"
                            (valueChanged)="onAvailabilityUpdate($event)"></app-togglable-button>
    </div>
    <div class="mt-3" *ngIf="categoryIds.length > 0 || availableOnly !== undefined || players !== undefined">
      <button type="button" class="btn btn-danger" (click)="resetFilters()">Zrušit filtry</button>
    </div>
  </div>

  <div class="mt-3 text-info" *ngIf="!authenticationService.isLoggedIn()">
    <h4>Po přihlášení si hry můžeš také rezervovat k vypůjčení domů</h4>
  </div>
</div>
<hr/>

<div *ngIf="shownGames.length > 0" class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
  <div class="col mb-3 d-flex align-items-stretch" *ngFor="let boardGame of shownGames">
    <app-board-game [boardGame]="boardGame" [initialReserved]="currentReservation.get(boardGame.id) || 0"
                    (reservationUpdate)="onReservationUpdate($event)"
                    class="d-flex align-items-stretch"></app-board-game>
  </div>
</div>
<div *ngIf="shownGames.length == 0" class="mb-5 d-flex justify-content-center">
  <h3 class="text-secondary">Žádnou takovou hru bohužel nemáme :-(</h3>
</div>
<div class="bottom-right mr-4" *ngIf="currentReservation.size > 0">
  <button *ngIf="mode == pageMode.Normal || mode == pageMode.ManagerReservation" type="button"
          class="btn btn-warning btn-lg p-3 font-weight-bold"
          routerLink="reserve">
    <i class="fas fa-check"></i>
    Dokončit rezervaci
  </button>
  <button *ngIf="mode == pageMode.AddingGames" type="button" class="btn btn-success btn-lg"
          (click)="addToReservation()">
    Přidat do rezervace
  </button>
</div>
