/*
board-games-page.component.css
Author: František Nečas
 */

.bottom-right {
  position: -webkit-sticky;
  position: sticky;
  bottom: 24px;
  float: right;
  /* Must be above the card links and buttons */
  z-index: 10;
}

.bottom-right>button {
  border-radius: 12px;
  box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.5);
}

#dropdownMenu {
  min-width: 0;
}
