/*
board-games-page.component.css
Author: František Nečas
 */

.bottom-right {
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  right: 20px;
  float: right;
  /* Must be above the card links and buttons */
  z-index: 10;
}

#dropdownMenu {
  min-width: 0;
}
