<!--
board-games-page.component.html
Author: František Nečas
-->
<h1>Deskové hry</h1>

<input class="form-control" type="text" [ngModel]="searchModel" [ngbTypeahead]="search"
       (selectItem)="selectItem($event)" placeholder="Vyhledávání"/>
<div class="d-flex flex-wrap">
  <div class="mr-4 mt-3">
    <button type="button" class="btn btn-secondary dropdown-toggle" id="playersDropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Počet hráčů
    </button>
    <div class="dropdown-menu" aria-labelledby="playersDropdown" id="dropdownMenu">
      <div class="d-flex px-2">
        <input type="number" class="form-control mr-2" [formControl]="playersForm" placeholder="Počet hráčů"/>
        <button type="button" class="btn btn-danger" (click)="playersReset()">Zrušit</button>
      </div>
    </div>
  </div>

  <div class="mr-4 mt-3">
    <app-category-selector (categoryAdded)="onCategoryAdded($event)"
                           (categoryRemoved)="onCategoryRemoved($event)"></app-category-selector>
  </div>
  <div class="mt-3">
    <app-togglable-button [startingValue]="false" [text]="'Pouze dostupné'"
                          (valueChanged)="onAvailabilityUpdate($event)"></app-togglable-button>
  </div>
</div>
<hr/>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
  <div class="col mb-3" *ngFor="let boardGame of shownGames">
    <app-board-game [boardGame]="boardGame" (reservationUpdate)="onReservationUpdate($event)"></app-board-game>
  </div>
</div>
<button *ngIf="currentReservationLength > 0" type="button" class="btn btn-success btn-lg" id="reserveBtn">Dokončit
  rezervaci
</button>
