/*
board-games-page.component.css
Author: František Nečas
 */

#reserveBtn {
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  right: 20px;
  float: right;
}

#dropdownMenu {
  min-width: 0;
}
