<!--
manage-user-roles.component.html
Author: David Chocholatý
-->
<div class="d-flex align-items-center">
  <app-back-arrow targetRoute=".."></app-back-arrow>
  <h1>Role uživatele {{userDetail.name}}</h1>
</div>

<div class="border-bottom pb-2 mb-2">
  <button type="button" class="btn btn-primary dropdown-toggle" id="categoryDropdown"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nastavit vynucené přiřazení rolí
  </button>
  <div class="dropdown-menu" aria-labelledby="categoryDropdown">
    <form>
      <ul class="list-group">
        <app-user-role *ngFor="let userRole of roleTypes" [userRole]="userRole"
                       (userRoleDisabled)="onUserRoleDisabled($event)"
                       (userRoleEnabled)="onUserRoleEnabled($event)"
                       [startingValue]="userDetail.activeRoles.includes(userRole)"></app-user-role>
      </ul>
    </form>
  </div>
</div>

<h5>Aktuální role uživatele</h5>
<div class="container">
  <div class="row">
    <table class="table table-stripped">
      <thead class="thead-light">
      <tr>
        <th>Název role</th>
        <th>Operace</th>
      </tr>
      </thead>
      <tbody *ngIf="userDetail.activeRoles.length > 0">
      <tr *ngFor="let userRole of userDetail.activeRoles">
        <td>
          {{userRole}}
        </td>
        <td>
          <div class="row">
            <button type="button" class="btn mr-1 btn-primary btn-secondary mr-4 "
                    (click)="onResetRolesToKisRoles(userRole)">
              <i class="fas fa-redo"></i>
              Resetovat roli podle KIS
            </button>
            <button type="button" class="btn mr-1 btn-primary btn-danger float-right "
                    (click)="onRemoveUserRole(userRole)">
              <i class="fas fa-minus-circle"></i>
              Vynuceně zakázat roli
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="userDetail.activeRoles.length == 0" class="mb-5 d-flex justify-content-center">
      <h5 class="text-secondary ">Uživatel nemá žádné role.</h5>
    </div>
  </div>
</div>

<div *ngIf="userDetail.activeRoles.length > 0">
  <button type="button" class="btn mr-1 btn-danger" (click)="onRemoveAllUserRoles()">
    <i class="fas fa-minus-circle"></i>
    Vynuceně zakázat všechny role
  </button>
</div>
