a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

footer {
  display: flex;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  line-height: 20px;
  font-weight: 200;
}

footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

.content {
  margin-top: 82px;
  align-items: center;
}
