<!--
user-profile.component.html
Author: David Chocholatý, Ondřej Ondryáš
-->

<h1>Můj profil</h1>

<div class="row">
  <div class="col-xl-6">
    <form novalidate autocomplete="off" [formGroup]="form" (submit)="onSaveChanges()">
      <div class="form-group form-row">
        <label for="name" class="col-2 col-form-label">Jméno</label>
        <div class="col-10">
          <input class="form-control"
                 id="name" formControlName="name" placeholder="Jméno"
                 readonly type="text">
        </div>
      </div>

      <div class="form-group form-row">
        <label for="email" class="col-2 col-form-label">E-mail</label>
        <div class="col-10">
          <input class="form-control"
                 id="email" name="email" formControlName="email" placeholder="E-mail"
                 readonly type="text">
        </div>
      </div>

      <div class="form-group form-row">
        <label for="nickname" class="col-2 col-form-label">Přezdívka</label>
        <div class="col-10">
          <input [class.is-invalid]="form.controls.nickname.invalid"
                 class="form-control" id="nickname" formControlName="nickname" name="nickname" placeholder="Přezdívka"
                 type="text" maxlength="128"> <!--  TODO: Any other format requirements? -->
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" formControlName="gamificationConsent" id="gamificationConsent" name="gamification">
          <label class="form-check-label" for="gamificationConsent">Souhlas s gamifikací</label>

          <button class="btn p-0 ml-3" type="button" triggers="click hover focus" [autoClose]="true" [closeDelay]="500"
                  [ngbTooltip]="gamificationConsentTooltipText" #tooltip3="ngbTooltip">
            <i class="far fa-question-circle"></i>
          </button>
        </div>
      </div>

      <div class="form-group">
      <button type="button" class="btn btn-outline-secondary dropdown dropdown-toggle mb-2" (click)="collapse.toggle()"
              [attr.aria-expanded]="!isCardInfoCollapsed"
              aria-controls="collapseExample">
        Nastavení karty
      </button>

      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCardInfoCollapsed">
        <div class="form-group form-row">
          <label for="cardCode" class="col-3 col-form-label">Přiřazovací kód karty</label>
          <div class="col-9 d-flex flex-nowrap flex-row align-content-center">
            <input [class.invalid]="form.controls.cardCode.invalid"
                   class="form-control" id="cardCode" name="cardCode" formControlName="cardCode" placeholder="Kód karty"
                   type="text" maxlength="5" pattern="[a-zA-Z]{5}">

            <button
              type="button" class="btn p-0 ml-3"
              triggers="click hover focus" [autoClose]="true" [closeDelay]="500" [ngbTooltip]="cardCodeTooltipText"
              #tooltip="ngbTooltip">
              <i class="far fa-question-circle"></i>
            </button>
          </div>
        </div>
      </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="form.invalid || form.pristine">Uložit změny</button>
    </form>
  </div>
</div>
