<h1>Nastavení push notifikací</h1>

<div *ngIf="subscription === null">
  <h4>Notifikace nejsou povoleny</h4>
  <button type="button" class="btn btn-primary mb-2" (click)="subscribe()">Povolit</button>
</div>

<div *ngIf="subscription !== null">
  <h4>Notifikace jsou povoleny</h4>
  <button type="button" class="btn btn-danger mb-2" (click)="unsubscribe()">Zakázat</button>

  <h4>Nastavení jednotlivých upozornění</h4>
  <app-togglable-button [startingValue]="configuration.stateChangesEnabled" (valueChanged)="onStateEnableChange($event)"
                        text="Otvírání klubu" class="mr-2"></app-togglable-button>

  <app-togglable-button *ngIf="auth.isLoggedIn()" [startingValue]="configuration.boardGamesEnabled ?? false"
                        (valueChanged)="onBoardGameEnableChange($event)" text="Upozornění na konec rezervace">
  </app-togglable-button>
  <p *ngIf="!auth.isLoggedIn()">Po přihlášení bude možné nastavit další možnosti notifikací.</p>
</div>
