<!--
logged-in-content.component.html
Author: David Chocholatý, Ondřej Ondryáš
-->

<div class="border-bottom pb-2 mb-2">
  <h6 class="font-weight-bold">
    {{authenticationService.getUserName()}}
  </h6>
  Prestiž: {{authenticationService.user.prestige}}
</div>

<button class="btn btn-outline-dark btn-block" routerLink="/user-profile" routerLinkActive="true">Můj profil</button>
<button class="btn btn-outline-dark btn-block" routerLink="/board-games/reservations">Moje rezervace</button>
<button class="btn btn-outline-dark btn-block" routerLink="/notifications">Nastavit push notifikace</button>
<button class="btn btn-outline-danger btn-block" (click)="clickLogOutButton()">Odhlásit se</button>
