<!--
logged-in-content.component.html
Author: David Chocholatý
-->

<div class="card">
  <div class="card-header">
    {{authenticationService.getUserName()}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Prestiž: {{authenticationService.user.prestige}}</li>
    <li class="list-group-item">
      <button class="btn btn-secondary btn-block" routerLink="/user-profile" routerLinkActive="true">Můj profil</button>
    </li>
    <li class="list-group-item">
      <button class="btn btn-secondary btn-block" (click)="clickChangeCard()">Změna karty</button>
    </li>
    <li class="list-group-item">
      <button class="btn btn-secondary btn-block" routerLink="/board-games/reservations">Moje rezervace</button>
    </li>
    <li class="list-group-item">
      <button class="btn btn-danger btn-block" (click)="clickLogOutButton()">Odhlásit se</button>
    </li>
  </ul>
</div>
