<app-back-arrow targetRoute=".." heading="Rezervace"></app-back-arrow>

<h4>Vytvořena {{formattedDate}}</h4>

<app-reservation-items (reservationItemClicked)="routeToBoardGame($event)" [reservation]="reservation"
                       (itemStateUpdated)="fetchItem($event)" [items]="items"></app-reservation-items>

<form>
  <div class="form-group">
    <label for="userNote">Poznámka</label>
    <textarea class="form-control" id="userNote" rows="2" [formControl]="noteForm" maxlength="1024"
              placeholder="Můžeš například zmínit, kdy si chceš hry vyzvednout"></textarea>
  </div>
  <button type="button" class="btn btn-primary" (click)="updateNote()">Uložit poznámku</button>
</form>
