<!--
reservation-details.component.html
Author: František Nečas
-->
<div class="d-flex">
  <app-back-arrow targetRoute=".."></app-back-arrow>
  <h2>Rezervace</h2>
</div>
<h4>Vytvořena {{formattedDate}}</h4>

<app-reservation-items (reservationItemClicked)="routeToBoardGame($event)" [reservation]="reservation"
                       (itemStateUpdated)="fetchItem($event)" [items]="items"></app-reservation-items>

<form>
  <div class="form-group">
    <label for="userNote">Poznámka</label>
    <textarea class="form-control" id="userNote" rows="2" [formControl]="noteForm" maxlength="1024"
              placeholder="Můžeš například zmínit, kdy si chceš hry vyzvednout"></textarea>
  </div>
  <button type="button" class="btn btn-primary" (click)="updateNote()">Uložit poznámku</button>
</form>
