<div class="state-details text-center">
  Otevřeno od {{ state.start | date:'HH:mm' }}
</div>

<div class="border-bottom pb-2 mb-2">
  <div class="state-details text-center" *ngIf="state.note != null && state.note.length > 0">
    {{ state.note }}
  </div>

  <div class="state-details text-center mt-2" *ngIf="state.noteInternal != null && state.noteInternal.length > 0">
    <div class="small font-weight-light">Interní poznámka:</div>
    {{ state.noteInternal }}
  </div>

  <app-current-offer-collapsible-block [state]="state"></app-current-offer-collapsible-block>
</div>
