<!--
event-detail.component.html
Author: David Chocholatý
-->

<h1>Detail akce</h1>

<div class="container" *ngIf="eventsService.eventDetail.name">
  <h3 *ngIf="!eventsService.eventDetail.url" class="mb-1">{{eventsService.eventDetail.name}}</h3>
  <h3 *ngIf="eventsService.eventDetail.url" class="mb-1">
    <a [href]="eventsService.eventDetail.url">
      {{eventsService.eventDetail.name}}
    </a>
  </h3>
  <div class="list-group">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="card-body">
            <div class="list-group-item" *ngIf="eventsService.eventDetail.fullDescription">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Popis</h5>
              </div>
              <p class="mb-1">{{eventsService.eventDetail.shortDescription}}</p>
            </div>
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Termín konání</h5>
              </div>
              <div class="container row">
                <p>Od {{eventsService.getFormattedFromDate()}} do {{eventsService.getFormattedToDate()}}</p>
              </div>
            </div>
            <div class="list-group-item flex-fill" *ngIf="eventsService.eventDetail.place">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Místo</h5>
              </div>
              <p *ngIf="!eventsService.eventDetail.placeUrl" class="mb-1">{{eventsService.eventDetail.place}}</p>
              <a [href]="eventsService.eventDetail.placeUrl" *ngIf="eventsService.eventDetail.placeUrl" href="."
                 class="mb-1">{{eventsService.eventDetail.place}}</a>
            </div>
          </div>
        </div>
        <div class="col-md-4" *ngIf="eventsService.eventDetail.imageUrl">
          <img src="{{eventsService.eventDetail.imageUrl}}"
               class="card-img img-fluid rounded" alt="Obrázek akce" />
        </div>
      </div>
    </div>
    <div class="list-group-item flex-fill" *ngIf="eventsService.eventDetail.linkedPlannedStateIds?.length">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Kachna bude v rámci akce otevřená</h5>
      </div>
      <app-linked-states></app-linked-states>
    </div>

    <div class="list-group-item" *ngIf="eventsService.eventDetail.fullDescription">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Podrobný popis</h5>
      </div>
      <p class="mb-1">{{eventsService.eventDetail.fullDescription}}</p>
    </div>
    <div *ngIf="authenticationService.isEventsManager()" class="list-group-item">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item border-0">
          <button class="btn btn-secondary" (click)="onModifyButtonClicked()"
                  data-toggle="modal" data-target="#exampleModal"
                  data-backdrop="static" data-keyboard="false">
            Upravit akci
          </button>
        </li>

        <li class="list-group-item border-0">
          <button class="btn btn-secondary" (click)="onManageLinkedStatesClicked()">
            Spravovat připojené stavy klubu
          </button>
        </li>

        <li class="list-group-item border-0">
          <button class="btn btn-danger" (click)="onDeleteButtonClicked()">Zrušit akci</button>
        </li>
      </ul>
    </div>
  </div>
</div>
