<!--
event-detail.component.html
Author: David Chocholatý
-->

<app-back-arrow heading="Detail akce"></app-back-arrow>

<ng-container *ngIf="eventsService.eventDetail?.name">
  <h3 *ngIf="!eventsService.eventDetail.url" class="mb-1">{{eventsService.eventDetail.name}}</h3>
  <h3 *ngIf="eventsService.eventDetail.url" class="mb-1">
    <a [href]="eventsService.eventDetail.url">
      {{eventsService.eventDetail.name}}
    </a>
  </h3>
  <div class="">
    <div class="card">
      <div class="row no-gutters">
        <div class="col">
          <div class="card-body">
            <div class="" *ngIf="eventsService.eventDetail.shortDescription">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Popis</h5>
              </div>
              <p class="mb-2">{{eventsService.eventDetail.shortDescription}}</p>
            </div>

            <div class="">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Termín konání</h5>
              </div>
              <div class="container row">
                <p class="mb-2">Od {{eventsService.eventDetail.from | date:'d. M. HH:mm'}} do {{eventsService.eventDetail.to | date: 'd. M. HH:mm'}}</p>
              </div>
            </div>

            <div class="flex-fill mb-2" *ngIf="eventsService.eventDetail.place">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Místo</h5>
              </div>
              <p *ngIf="!eventsService.eventDetail.placeUrl" class="mb-1">{{eventsService.eventDetail.place}}</p>
              <a [href]="eventsService.eventDetail.placeUrl" *ngIf="eventsService.eventDetail.placeUrl" href="."
                 class="mb-1">{{eventsService.eventDetail.place}}</a>
            </div>

            <div class="flex-fill" *ngIf="eventsService.eventDetail.linkedPlannedStateIds?.length">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Kachna bude v rámci akce otevřená</h5>
              </div>
              <app-linked-states></app-linked-states>
            </div>
          </div>
        </div>

        <div class="col-md-4" *ngIf="eventsService.eventDetail.imageUrl">
          <img src="{{getImageUrl(eventsService.eventDetail.imageUrl)}}"
               class="img-fluid" alt="Obrázek akce"/>
        </div>
      </div>
    </div>

    <div class="list-group-item" *ngIf="eventsService.eventDetail.fullDescription">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Podrobný popis</h5>
      </div>
      <p class="mb-1">{{eventsService.eventDetail.fullDescription}}</p>
    </div>
    <div *ngIf="authenticationService.isEventsManager()" class="list-group-item">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item border-0">
          <button class="btn btn-secondary" (click)="onModifyButtonClicked()"
                  data-toggle="modal" data-target="#exampleModal"
                  data-backdrop="static" data-keyboard="false">
            Upravit akci
          </button>
        </li>

        <li class="list-group-item border-0">
          <button class="btn btn-secondary" (click)="onManageLinkedStatesClicked()">
            Spravovat připojené stavy klubu
          </button>
        </li>

        <li class="list-group-item border-0">
          <button class="btn btn-danger" (click)="onDeleteButtonClicked()">Zrušit akci</button>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
