<!--
events-list.component.html
Author: David Chocholatý
-->

<h1>Plán akcí</h1>

<table class="table table-stripped">
  <thead class="thead-light">
  <tr>
    <th>Jméno</th>
    <th>Trvání od</th>
    <th>Trvání do</th>
    <th *ngIf="authenticationService.isEventsManager()">Operace</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let eventDetail of eventsService.eventsList" class="clickable">
    <td (click)="openEventDetail(eventDetail)">{{eventDetail.name}}</td>
    <td (click)="openEventDetail(eventDetail)">
      {{eventDetail.from | date:'d. M. yyyy HH:mm'}}
    </td>
    <td (click)="openEventDetail(eventDetail)">
      {{eventDetail.to | date:'d. M. yyyy HH:mm'}}
    </td>
    <td *ngIf="authenticationService.isEventsManager()">
      <div class="row">
        <button type="button" class="btn mr-1 btn-primary float-right "
                data-toggle="modal" data-target="#exampleModal"
                data-backdrop="static" data-keyboard="false" (click)="onModifyButtonClicked(eventDetail)">
          <i class="far fa-edit"></i>
          Upravit
        </button>
        <button type="button" class="btn mr-1 btn-danger" (click)="onDeleteButtonClicked(eventDetail)">
          <i class="far fa-trash-alt"></i>
          Odstranit
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
