<h1>Přehled akcí</h1>

<div class="d-flex align-items-center">
  <span class="dot bg-secondary"></span>
  <span class="mr-4">Proběhlé akce</span>
  <span class="dot bg-success"></span>
  <span class="mr-4">Právě běžící akce</span>
</div>

<table class="table table-stripped" *ngIf="events.length > 0">
  <thead class="thead-light">
  <tr>
    <th>Jméno</th>
    <th>Začátek</th>
    <th>Konec</th>
    <th>Místo</th>
    <th>Krátký popis</th>
    <th *ngIf="authenticationService.isEventsManager()">Operace</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let eventDetail of events" class="clickable"
    [ngClass]="{
    'table-secondary': eventDetail.to.getTime() < now.getTime(),
    'table-success': eventDetail.from.getTime() < now.getTime() && eventDetail.to.getTime() >= now.getTime()
    }"
  >

  <td (click)="openEventDetail(eventDetail)">{{eventDetail.name}}</td>
    <td (click)="openEventDetail(eventDetail)">
      {{eventDetail.from | date:'d. M. yyyy HH:mm'}}
    </td>
    <td (click)="openEventDetail(eventDetail)">
      {{eventDetail.to | date:'d. M. yyyy HH:mm'}}
    </td>
    <td (click)="openEventDetail(eventDetail)">
      {{eventDetail.place}}
    </td>
    <td (click)="openEventDetail(eventDetail)">
      <div *ngIf="eventDetail.shortDescription.length > maxShortDescriptionChars">
        {{eventDetail.shortDescription.slice(0, maxShortDescriptionChars)}}...
        <button type="button" class="btn btn-outline-secondary mt-1 note-button" [ngbPopover]="eventDetail.shortDescription"
                (click)="$event.stopPropagation();" popoverTitle="Krátký popis akce" placement="auto">
          Celý popis
        </button>
      </div>
      <div *ngIf="eventDetail.shortDescription.length <= maxShortDescriptionChars">
        {{eventDetail.shortDescription}}
      </div>

    </td>
    <td *ngIf="authenticationService.isEventsManager()">
      <div class="row" *ngIf="eventDetail.to.getTime() > now.getTime()">
        <button type="button" class="btn mr-1 btn-primary float-right"
                data-toggle="modal" data-target="#exampleModal"
                data-backdrop="static" data-keyboard="false" (click)="onModifyButtonClicked(eventDetail)">
          <i class="far fa-edit"></i>
          Upravit
        </button>
        <button type="button" class="btn btn-danger" (click)="onDeleteButtonClicked(eventDetail)">
          <i class="far fa-trash-alt"></i>
          Odstranit
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<div *ngIf="events.length == 0" class="mb-5 d-flex justify-content-center">
  <h5 class="text-secondary ">Tento rok se nekonají žádné akce.</h5>
</div>
