.navbar {
    /*background-color: #fcc859;*/
}

  .content {
    margin: 82px;
    align-items: center;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }
