<!--
navigation-bar.component.html
Author: David Chocholatý
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 fixed-top">
  <div class="container">
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" data-toggle="collapse"
            aria-controls="navbarsExample04" data-target="navbarsExample04" aria-expanded="false"
            aria-label="Toggle navigation">
      &#9776;
    </button>

    <div class="group">
      <a class="navbar-brand" routerLink="" (click)="isMenuCollapsed = true">
        <img class="image" style="cursor: pointer;" width="40" routerLink="" (click)="isMenuCollapsed = true"
             alt="Kachna Online Logo"
             src="assets/kachna_bez_peny.png" />
        Kachna Online
      </a>

      <app-loading-spinner class="d-lg-none d-xl-none text-light"></app-loading-spinner>
    </div>

    <app-account-popup class="d-lg-none d-xl-none"></app-account-popup>

    <div id="collapse_navbar" [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item align-self-xl-center align-self-lg-center mr-xl-3 mr-lg-3 mt-xl-0 mt-lg-0 mt-md-3 mt-sm-3 mt-2" *ngIf="authenticationService.isStatesManager()" ngbDropdown>
          <div ngbDropdown class="d-inline-block btn-block">
            <div NgbDropdownAnchor>
              <div class="btn-group btn-block d-xl-flex d-lg-flex d-md-flex d-sm-flex d-none">
            <button type="button" class="btn btn-secondary text-nowrap btn-block
             d-xl-block d-lg-block d-md-block d-sm-block align-self-md-center d-none" style="text-align:left"
                    routerLink="" (click)="isMenuCollapsed = true">Stav klubu
            </button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split dropdown-menu-right
            d-xl-block d-lg-block d-md-block d-sm-block d-none"
                    id="tmp" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    data-reference="parent">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
                </div>
                <button class="btn btn-secondary text-nowrap btn-block d-xl-none d-lg-none d-md-none d-sm-none" style="text-align:left"
                        ngbDropdownToggle>Stav klubu</button>
              </div>
            <div class="dropdown-menu dropdown-menu-text dropdown-menu-right" aria-labelledby="tmp" ngbDropdownMenu>
              <button class="dropdown-item d-lg-none d-xl-none d-md-none d-sm-none" (click)="isMenuCollapsed = true"
                      routerLink="" ngbDropdownItem>Aktuální stav klubu
              </button>
              <button (click)="isMenuCollapsed = true" class="dropdown-item" routerLink="/states/change" routerLinkActive="active"
                      ngbDropdownItem>
                Změnit aktuální stav
              </button>
              <button (click)="isMenuCollapsed = true" class="dropdown-item" routerLink="/states/plan" routerLinkActive="active" ngbDropdownItem>
                Naplánovat budoucí stav
              </button>
              <button (click)="isMenuCollapsed = true" class="dropdown-item" routerLink="/states/history" ngbDropdownItem>Plán stavů
              </button>
              <button (click)="isMenuCollapsed = true; this.closeCurrentState()"
                      [disabled]="stateService.currentState == undefined || stateService.currentState.state == 'Closed'"
                      [class.text-danger]="stateService.currentState != undefined && stateService.currentState.state != 'Closed'"
                      [class.text-muted]="stateService.currentState == undefined || stateService.currentState.state == 'Closed'"
                      class="dropdown-item" href="#" ngbDropdownItem>Ukončit aktuální stav
              </button>
            </div>
          </div>
        </li>

        <li class="nav-item align-self-xl-center align-self-lg-center mr-xl-3 mr-lg-3 mt-xl-0 mt-lg-0 mt-md-3 mt-sm-3 mt-2" ngbDropdown>
          <div ngbDropdown class="d-inline-block btn-block">
            <div NgbDropdownAnchor>
              <div class="btn-group btn-block d-xl-flex d-lg-flex d-md-flex d-sm-flex d-none">
                <button type="button" class="btn btn-secondary text-nowrap btn-block d-xl-block d-lg-block d-md-block d-sm-block d-none" style="text-align:left"
                        routerLink="events/current" routerLinkActive="active" (click)="isMenuCollapsed = true">Akce
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split dropdown-menu-right d-lg-block d-md-block d-sm-block d-none"
                        ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        data-reference="parent">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
              </div>
              <button class="btn btn-secondary text-nowrap btn-block d-xl-none d-lg-none d-md-none d-sm-none" style="text-align:left"
                      ngbDropdownToggle>Akce</button>
            </div>
            <div class="dropdown-menu dropdown-menu-text dropdown-menu-right" aria-labelledby="tmp" ngbDropdownMenu>
              <button (click)="isMenuCollapsed = true" class="dropdown-item" routerLink="events/current"
                      routerLinkActive="active" ngbDropdownItem>Probíhající akce
              </button>
              <button (click)="isMenuCollapsed = true" class="dropdown-item" ngbDropdownItem routerLinkActive="active"
                      routerLink="/events/all">Seznam nadcházejících akcí
              </button>
              <button (click)="isMenuCollapsed = true" class="dropdown-item" ngbDropdownItem routerLinkActive="active"
                      routerLink="/events/list">Plán akcí
              </button>
              <div *ngIf="authenticationService.isEventsManager()" class="dropdown-divider"></div>
              <button (click)="isMenuCollapsed = true" class="dropdown-item" routerLink="events/plan"
                      routerLinkActive="active" *ngIf="authenticationService.isEventsManager()" ngbDropdownItem>Přidat
                akci
              </button>
            </div>
          </div>
        </li>

        <li class="nav-item align-self-xl-center align-self-lg-center mr-xl-3 mr-lg-3 mt-xl-0 mt-lg-0 mt-md-3 mt-sm-3 mt-2" ngbDropdown>
          <div ngbDropdown class="d-inline-block btn-block">
            <div NgbDropdownAnchor>
              <button type="button" *ngIf="authenticationService.isLoggedOut()" class="btn btn-secondary text-nowrap btn-block" style="text-align:left"
                      routerLink="board-games" (click)="isMenuCollapsed = true">Deskovky
              </button>
              <div class="btn-group btn-block d-xl-flex d-lg-flex d-md-flex d-sm-flex d-none" *ngIf="authenticationService.isLoggedIn()">
                <button type="button" class="btn btn-secondary text-nowrap btn-block d-xl-block d-lg-block d-md-block d-sm-block d-none" style="text-align:left"
                        routerLink="board-games" (click)="isMenuCollapsed = true">Deskovky
                </button>
                <button type="button"
                        class="btn btn-secondary dropdown-toggle dropdown-toggle-split dropdown-menu-right d-xl-block d-lg-block d-md-block d-sm-block d-none"
                        ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        data-reference="parent">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
              </div>
            <button class="btn btn-secondary text-nowrap btn-block d-xl-none d-lg-none d-md-none d-sm-none" *ngIf="authenticationService.isLoggedIn()" style="text-align:left"
                    ngbDropdownToggle>Deskovky</button>
            </div>
            <div class="dropdown-menu dropdown-menu-text dropdown-menu-right" aria-labelledby="tmp" ngbDropdownMenu>
              <button class="dropdown-item d-lg-none d-xl-none d-md-none d-sm-none" (click)="isMenuCollapsed = true"
                      routerLink="board-games" routerLinkActive="active" ngbDropdownItem>Přehled deskových her
              </button>
              <button class="dropdown-item" routerLink="board-games/reservations" routerLinkActive="active"
                      (click)="isMenuCollapsed = true" *ngIf="authenticationService.isLoggedIn()" ngbDropdownItem>Moje
                rezervace
              </button>
              <div *ngIf="authenticationService.isBoardGamesManager()" class="dropdown-divider"></div>
              <button class="dropdown-item" routerLinkActive="active" (click)="navigateToCurrentReservations()"
                      *ngIf="authenticationService.isBoardGamesManager()" ngbDropdownItem>Aktuální rezervace
              </button>
              <button class="dropdown-item" routerLinkActive="active" (click)="navigateToAllReservations()"
                      *ngIf="authenticationService.isBoardGamesManager()" ngbDropdownItem>Historie rezervací
              </button>
              <button class="dropdown-item" routerLinkActive="active" (click)="reserveForUser()"
                      *ngIf="authenticationService.isBoardGamesManager()" ngbDropdownItem>Zarezervovat pro uživatele

              </button>
              <button class="dropdown-item" routerLink="board-games/manager/games" routerLinkActive="active"
                      (click)="isMenuCollapsed = true" *ngIf="authenticationService.isBoardGamesManager()"
                      ngbDropdownItem>Správa her
              </button>
              <button class="dropdown-item" routerLink="board-games/manager/categories" routerLinkActive="active"
                      (click)="isMenuCollapsed = true" *ngIf="authenticationService.isBoardGamesManager()"
                      ngbDropdownItem>Správa kategorií
              </button>
            </div>
          </div>
        </li>

        <li class="nav-item align-self-xl-center align-self-lg-center mr-xl-3 mr-lg-3 mt-xl-0 mt-lg-0 mt-md-3 mt-sm-3 mt-2" ngbDropdown *ngIf="authenticationService.isAdmin()">
          <div ngbDropdown class="d-inline-block btn-block">
            <div NgbDropdownAnchor>
              <div class="btn-group btn-block d-xl-flex d-lg-flex d-md-flex d-sm-flex d-none">
                <button type="button" class="btn btn-secondary text-nowrap btn-block " style="text-align:left"
                        routerLink="users" routerLinkActive="active">
                  Uživatelé
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <app-loading-spinner class="d-none d-lg-block d-xl-block mr-2 text-light"></app-loading-spinner>
    <app-account-popup class="d-none d-lg-block d-xl-block"></app-account-popup>
  </div>
</nav>
