<!--
reservation-details-item-xs.component.html
Author: František Nečas
-->
<h5 class="mt-4"><a [routerLink]="" class="text-primary" (click)="boardGameClicked()">{{item.boardGame.name}}</a></h5>
<ul class="no-bullets pl-3">
  <li [ngClass]="{
    'text-danger': item.state === itemState.Expired,
    'text-secondary': item.state == itemState.Cancelled || item.state == itemState.Done,
    'text-success': item.state == itemState.HandedOver,
    'text-info': item.state == itemState.Assigned
  }">Stav: {{formattedStates.get(item.state)}}</li>
  <li *ngIf="item.expiresOn" [ngClass]="{'text-danger': item.state == itemState.Expired}">Vypůjčeno
    do: {{formattedExpiration}}</li>
  <li *ngIf="item.assignedTo">Kontaktní osoba: {{item.assignedTo.name}}</li>
  <ng-container *ngIf="!managerView">
    <li>
      <button type="button" class="btn btn-danger"
              *ngIf="item.state == itemState.New || item.state == itemState.Assigned" (click)="cancelReservation()">
        Zrušit
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-primary"
              *ngIf="item.state == itemState.HandedOver && item.lastEventType != eventType.ExtensionRequested"
              (click)="requestExtension()">
        Prodloužit
      </button>
    </li>
    <li *ngIf="item.lastEventType == eventType.ExtensionRequested" class="text-info">
      Žádost o prodloužení čeká na schválení
    </li>
  </ng-container>
  <ng-container *ngIf="managerView">
    <app-manager-button-cluster [item]="item" (handOver)="handOver()"
                                (cancel)="cancelReservation()" (extend)="extend()"
                                (refuseExtension)="refuseExtension()"
                                (returned)="return()"></app-manager-button-cluster>
  </ng-container>
</ul>
