<!--
reservation-details-item-xs.component.html
Author: František Nečas
-->
<h5 class="mt-4">{{item.boardGame.name}}</h5>
<ul class="no-bullets pl-3">
  <li *ngIf="item.expiresOn" [ngClass]="{'text-danger': item.state == itemState.Expired}">Vypůjčeno
    do: {{formattedExpiration}}</li>
  <li *ngIf="item.assignedTo">Kontaktní osoba: {{item.assignedTo.name}}</li>
  <li>
    <button type="button" class="btn btn-danger" *ngIf="item.state == itemState.New" (click)="cancelReservation()">
      Zrušit
    </button>
  </li>
  <li>
    <button type="button" class="btn btn-primary" *ngIf="item.state == itemState.HandedOver"
            (click)="requestExtension()">
      Prodloužit
    </button>
  </li>
</ul>
