<h1 *ngIf="mode == M.CreatePlanned">Naplánovat budoucí stav klubu</h1>
<h1 *ngIf="mode == M.ModifyCurrent || mode == M.CreateCurrent">Změnit aktuální stav klubu</h1>
<app-back-arrow *ngIf="mode == M.ModifyPlanned" [headingSize]="1"
                heading="Upravit naplánovaný stav klubu"></app-back-arrow>

<div class="mb-3" *ngIf="mode != M.CreatePlanned && referenceState && referenceState.state != ST.Closed">
  <button class="btn btn-outline-danger" (click)="closeOrDeleteState()">
    {{mode == M.ModifyCurrent ? 'Ukončit aktuální stav' : 'Zrušit tento plánovaný stav'}}
  </button>
</div>

<div class="row">
  <form [formGroup]="mainForm" class="col-xl-6" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="stateType">Typ stavu:</label>
      <select class="form-control" id="stateType" formControlName="stateType">
        <option [value]="ST.OpenChillzone">Otevřeno – chillzóna</option>
        <option [value]="ST.OpenBar">Otevřeno – bar</option>
        <option [value]="ST.Private">Soukromá akce</option>
      </select>
    </div>

    <div class="form-group d-flex align-items-center" *ngIf="mode == M.CreatePlanned || mode == M.ModifyPlanned">
      <label for="startDate" class="text-nowrap">Začátek stavu:</label>

      <div class="input-group mx-3">
        <input class="form-control" (click)="startDate.open()" type="text" ngbDatepicker
               [ngClass]="{'is-invalid': mainForm.errors?.startNotSet || mainForm.errors?.invalidDateRange ||
                  mainForm.errors?.startInPast}"
               #startDate="ngbDatepicker" id="startDate" formControlName="startDate"
               placeholder="dd. MM. yyyy" autocomplete="false"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="startDate.toggle()" type="button"><i
            class="far fa-calendar"></i></button>
        </div>
      </div>

      <ngb-timepicker formControlName="startTime"></ngb-timepicker>
    </div>

    <!-- The date/time selector would not play well with invalid-feedback class -->
    <div class="text-danger"
         *ngIf="(mode == M.CreatePlanned || mode == M.ModifyPlanned) &&
         (mainForm.errors?.startNotSet || mainForm.errors?.invalidDateRange || mainForm.errors?.startInPast)">
      <div *ngIf="mainForm.errors?.startInPast">Začátek musí být plánován v&nbsp;budoucnu.</div>
      <div *ngIf="mainForm.errors?.startNotSet">Začátek musí být explicitně nastaven.</div>
      <div *ngIf="mainForm.errors?.invalidDateRange">Stav musí končit později, než kdy začíná.</div>
    </div>

    <div class="form-group d-flex align-items-center">
      <label for="plannedEndDate" class="text-nowrap">Konec stavu:</label>

      <div class="input-group mx-3">
        <input class="form-control" (click)="plannedEndDate.open()" type="text" ngbDatepicker
               [ngClass]="{'is-invalid': mainForm.errors?.endInPast || mainForm.errors?.endNotSet}"
               #plannedEndDate="ngbDatepicker" id="plannedEndDate" formControlName="plannedEndDate"
               placeholder="dd. MM. yyyy" autocomplete="false"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="plannedEndDate.toggle()" type="button"><i
            class="far fa-calendar"></i></button>
        </div>
      </div>

      <ngb-timepicker formControlName="plannedEndTime"></ngb-timepicker>
    </div>
    <!-- The date/time selector would not play well with invalid-feedback class -->
    <div class="text-danger mt-0 mb-2" *ngIf="mainForm.errors?.endInPast || mainForm.errors?.endNotSet">
      <div *ngIf="mainForm.errors?.endInPast">Není možné plánovat stavy v&nbsp;minulosti.</div>
      <div *ngIf="mainForm.errors?.endNotSet">Datum a čas konce musí být nastaveny.</div>
    </div>

    <div class="form-group" *ngIf="mode == M.CreateCurrent">
      <button class="btn btn-outline-primary" (click)="mode = M.CreatePlanned">Určit také datum začátku</button>
    </div>

    <div class="form-group">
      <label for="noteInternal">Interní poznámka:</label>
      <textarea class="form-control" id="noteInternal" formControlName="noteInternal"></textarea>
    </div>

    <div class="form-group">
      <label for="notePublic">Veřejná poznámka:</label>
      <textarea class="form-control" id="notePublic" formControlName="notePublic"></textarea>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!mainForm.valid">
      {{mode == M.CreateCurrent ? 'Nastavit aktuální stav' : (mode == M.CreatePlanned ? 'Naplánovat stav' : 'Upravit stav')}}
    </button>
  </form>
</div>
