<div class="modal-header">
  <h4
    class="modal-title">{{heading}} {{state.start | date:'d. M.'}}</h4>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="state.start.getDate() == state.plannedEnd.getDate(); else differentDates">
    Začátek: <strong>{{state.start | date:'HH:mm'}}</strong><br>
    Plánovaný konec: <strong>{{state.plannedEnd | date:'HH:mm'}}</strong>
  </div>
  <ng-template #differentDates>
    Začátek: {{state.start | date:'d. M.'}} <strong>{{state.start | date:'HH:mm'}}</strong><br>
    Plánovaný konec: {{state.plannedEnd | date:'d. M.'}} <strong>{{state.plannedEnd | date:'HH:mm'}}</strong>
  </ng-template>

  <div *ngIf="state.actualEnd != null">
    Skutečný konec: {{state.actualEnd.getDate() == state.plannedEnd.getDate() ? '' : (state.actualEnd | date:'d. M.')}}
    <strong>{{state.actualEnd | date:'HH:mm'}}</strong>
  </div>

  <div *ngIf="state.state != 'OpenBar' && state.state != 'OpenTearoom'" class="mt-2">Otevírá {{state.madeByUser.name}}.</div>

  <div *ngIf="state.note" class="mt-2">
    {{state.note}}
  </div>

  <div *ngIf="state.noteInternal" class="mt-2">
    {{state.noteInternal}}
  </div>
</div>
