<!--
reservation-table.component.html
Author: František Nečas
-->
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col" class="col-4 col-md-2 col-lg-2 col-xl-2">Datum vytvoření</th>
      <th scope="col" class="d-none d-sm-table-cell col-md-4" *ngIf="!managerView">Moje poznámka</th>
      <th scope="col" class="d-none d-sm-table-cell col-md-4" *ngIf="managerView">Uživatel</th>
      <th scope="col">Kontaktní osoba</th>
      <th scope="col" class="d-none d-sm-table-cell">Hry</th>
      <th scope="col" class="d-table-cell d-sm-none col-1">Počet her</th>
    </tr>
    </thead>
    <tbody>
    <tr app-reservation *ngFor="let reservation of reservations" [reservation]="reservation" [managerView]="managerView"
        (reservationClicked)="onReservationClicked($event)" [ngClass]="{
          'table-danger': isExpired(reservation),
          'table-secondary': isDone(reservation)
          }"></tr>
    </tbody>
  </table>
</div>
